@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if(Context.Session.GetString("Email")!=null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Registers" asp-action="Details" asp-route-id="@Context.Session.GetString("Rid")"  title="Manage">Hello @Context.Session.GetString("Name")</a>
        </li>
        <li class="nav-item">
            
            <a class="nav-link text-dark" asp-controller="Registers" asp-action="Logout">Logout</a>
            
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Registers" asp-action="Create">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Registers" asp-action="Login">Login</a>
        </li>
    }
</ul>
